html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  /* margin-bottom: 60px; */
  height: 100vh;
}


/* Boxes used for messages and games */

.scrollable-box{
  width: auto; 
  height: 100px; 
  overflow: auto; 
}


/* overlay for reconnecting */

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  /* display: none; */
}

#overlay .spinner {
  position: absolute;
  top: 50%;
  left: calc(50% - 32px);
  transform: translate(-50%, -50%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid transparent;
  border-top-color: #000000;
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

#overlay div {
  position: absolute;
  top: calc(50% + 80px); /* Add the spinner's height */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
/*  ===  */
/* overlay for win/loss */

#overlay .win-overlay-msg,
#overlay .loss-overlay-msg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

#overlay .win-overlay-msg {
  color: rgb(251, 255, 1);
}

#overlay .loss-overlay-msg {
  color: rgb(1, 90, 243);
}

#overlay .button-wrapper {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 20px;
}

#overlay button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0077ff;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

#overlay button:hover {
  background-color: #0055cc;
}