@using Ceres.Core.Entities
@if (IsConnected)
{
    <h4>Players In Lobby</h4>
    <ul class="scrollable-box list-group list-group-flush">
        @for (var i = Clients.Count - 1; i >= 0; i--)
        {
            <li class="list-group-item">@Clients[i].UserName</li>
        }
    </ul>
}

@code {
    
    [CascadingParameter]
    public bool IsConnected { get; set; }
    
    public List<GameUser> Clients = new();

    public void Refresh() => StateHasChanged();


}