@using Ceres.Core.Entities
@if (IsConnected)
{
    <div class="card text-dark bg-light m-3">
        <h5 class="card-header">Players In Lobby</h5>
        <div class="card-body">
            <ul class="scrollable-box list-group list-group-flush">
                @for (var i = Clients.Count - 1; i >= 0; i--)
                {
                    <li class="list-group-item">@Clients[i].UserName</li>
                }
            </ul>
        </div>
    </div>
}

@code {
    
    [CascadingParameter]
    public bool IsConnected { get; set; }
    
    public List<GameUser> Clients = new();

    public void Refresh() => StateHasChanged();


}