@if (IsConnected)
{
<h4>Games</h4>
<ul class="scrollable-box list-group list-group-flush">
    @foreach (var game in Games)
    {
        <li>@game.ToString()</li>
    }
</ul>
}
@code {

    [CascadingParameter]
    public bool IsConnected { get; set; }
    
    public List<Guid> Games = new();

    public void Refresh() => StateHasChanged();


}