@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-3">Clients connected:</div>
        <div class="col-4">
            <span id="clientsConnected"></span>
        </div>
    </div>
    <div>
        <input type="button" id="findGame" value="Find Game" />
    </div>
</div>

<script src="~/js/signalr.js"></script>
<script src="~/js/clientsCount.js"></script>
