@page
@using Ceres.Server.Pages
@model Ceres.Server.Pages.IndexModel

@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div>
        @(await Html.RenderComponentAsync<LobbyChat>(RenderMode.Server))
    </div>

</div>


