@page
@model Ceres.Server.Pages.IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    @* <div class="row">
        <div class="col-3">Clients In Lobby:</div>
        <div class="col-4">
            <span id="clientsCountInLobby"></span>
        </div>
    </div>
     *@
</div>

@* <script src="~/js/dist/browser/signalr.js"></script> *@

