@page
    <div class="container">
        <div class="row p-1">
            <div class="col-10">
                <h2 id="gamesListHeader">Games</h2>
            </div>
        </div>        
        <div class="row p-1">
            <div class="col-10">
                <ul id="gamesList" class="scrollable-box list-group"></ul>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-10">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-10">
                <h2 id="clientsListHeader">Players In Lobby</h2>
            </div>
        </div>        
        <div class="row p-1">
            <div class="col-10">
                <ul id="clientsList" class="scrollable-box list-group"></ul>
            </div>
        </div>
        <div class="row p-1">
            <div class="col-10">
                <hr />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-1">User</div>
            <div class="col-3"><input type="text" class="w-100" id="userNameInput" /></div>
            <div class="col-1 text-end">
                <input type="button" id="readytToPlayButton" value="Ready To Play" />
            </div>
        </div>
        <div class="row p-1">
            <div class="col-1">Message</div>
            <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
            <div class="col-1 text-end">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>

        <div class="row p-1">
            <div class="col-6">
                <ul id="messagesList" class="scrollable-box list-group list-group-flush" style="height: 200px;"></ul>
            </div>
        </div>

    </div>

    <script src="~/js/signalr.js"></script>
    <script type="module" src="~/js/lobby.js"></script>